# Spring
SPRING_PROFILES_ACTIVE=
SERVER_PORT=

# Application Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=
SPRING_JPA_HIBERNATE_FORMAT_SQL=
