# Spring
SPRING_PROFILES_ACTIVE=
SERVER_PORT=

# Application Database
APP_DB_HOST=
APP_DB_PORT=
APP_DB_NAME=
APP_DB_USERNAME=
APP_DB_PASSWORD=

# PostgreSQL Container Initialization
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
